<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <!-- <div class="container"> -->
    <div class="container">

        <div class="row justify-content-center">
            <div class="col border" id="AuthenticatorApp">
                <h2 class="text-center"> {{ message }} </h2>
                <div v-if="!isAuthenticated">
                    <div class="container border">
                        <div class="row justify-content-center">
                            <form name="Login Form" onsubmit="return false">
                                Username:
                                <input v-model="userName" id="usernameField" type="text" name="username" value=""
                                    placeholder="Enter Your Username">

                                <br>
                                Password: <input v-model="passWord" id="passwordField" type="password" name="password"
                                    value="">
                                <button v-on:click="checkCreds(userName, passWord)" action="">Submit</button>

                            </form>
                            <div class=" container row justify-content-center">


                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" id="LoginSelected" value="LoginSelected" v-model="picked">
                                        <label for="LoginSelected">Login</label>
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" id="RegisterSelected" value="RegisterSelected"
                                            v-model="picked">
                                        <label for="RegisterSelected">Register</label>
                                    </label>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div v-if="isAuthenticated">
                    <h3> User Authenticated By Server</h3>

                    <table class='table table-hover border'>
                        <caption> List of current users in Database</caption>
                        <h1> Customer List </h1>
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Actions </th>
                                <!-- <th scope="col"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCustomerModal">+ Add Customer</button></th> -->
                                <th scope="col"><button v-on:click="addNewCustClicked()" class="btn btn-primary btn-sm">
                                        + Add
                                        Customer</button></th>

                            </tr>
                        </thead>
                        <tbody>
                            </th>
                            <tr v-for="(customer, index) in customers">

                                <td> {{ customer.name }} <br><input v-if="customer.beginEditing"
                                        v-model="customers[index].name" v-on:keyup.enter="saveCust(index)">
                                </td>
                                <td> {{ customer.phone1 }} <br> <input v-if="customer.beginEditing"
                                        v-model="customers[index].phone1" v-on:keyup.enter="saveCust(index)">
                                </td>
                                <td><button id="editCustomerButton"
                                        v-on:click="customer.beginEditing = !customer.beginEditing">Edit</button>
                                    <button v-if="customer.beginEditing" v-on:click="saveCust(index)">Save</button>
                                    <button v-if="customer.beginEditing" v-on:click="deleteCustomer(index)"> DELETE
                                    </button>
                                </td>
                            </tr>
                            </th>
                        </tbody>

                    </table>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog"
                    aria-labelledby="addCustomerModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add New Customer</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="new-cust-name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="new-cust-name">
                                    </div>
                                    <div class=" form-group">
                                        <label for="new-cust-phone" class="col-form-label">Phone Number:</label>
                                        <input type="text" class="form-control" id="new-cust-phone">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
            <!-- </div> -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script>
        // VueJS Apps Here

        var AuthenticatorApp = new Vue({
            el: "#AuthenticatorApp",
            data: {
                message: "VueJS Authentication Application",
                userName: "",
                passWord: "",
                isAuthenticated: false,
                picked: "LoginSelected",
                customers: [],
                getCount: 0,
                beginEditingName: false,
                beginEditingPhone: false,
            },
            methods: {
                sendAlert: function (string) {
                    alert(string)
                },
                log: function (string) {
                    console.log(string)
                },
                checkCreds: function (username, password) {
                    // console.log(`username : ${username} \n password : ${password}`)
                    let authCreds = {
                        username: username,
                        pw: password,
                        picked: this.picked
                    }
                    console.log(authCreds)

                    switch (this.picked) {
                        case 'LoginSelected': {
                            $.ajax({
                                type: 'POST',
                                url: 'http://localhost:8000/api/auth',
                                crossDomain: true,
                                data: authCreds,
                                dataType: 'json',
                                success: (responseData, textStatus, jqXHR) => {
                                    console.log(
                                        `isAuth Response : ${responseData.content.isAuth}`)
                                    this.isAuthenticated = responseData.content.isAuth
                                    if (responseData.content.isAuth) {
                                        this.downloadCustomers()
                                    }
                                },
                                error: (responseData, textStatus, errorThrown) => {
                                    alert('POST Failed')
                                }
                            })
                            console.log('Login Selected')
                        }
                        break
                    case 'RegisterSelected': {
                        console.log('Register Selected')
                    }
                    default: {
                        console.log("Default Case Reached")
                    }
                    break
                    }
                },
                downloadCustomers: function () {
                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:8000/api/customers',
                        crossDomain: true,
                        dataType: 'json',
                        success: (responseData) => {
                            console.log(
                                `Received DATA from /api/customers -------- \n First Customer Name -> ${responseData[0].name}`
                            )
                            this.customers = responseData
                            this.getCount += 1
                        },
                        error: (error) => {
                            alert('GET failed')
                        }
                    })
                },
                addNewCustClicked: function () {
                    this.customers.push({
                        name: "Full Name",
                        phone1: "Phone Number",
                        beginEditing: true,
                        isNew: true
                    })
                },
                removeFromTable: function (index) {
                    this.customers.splice(index, 1)
                    // console.log("DELETE CUSTOMER FROM DATABASE")
                },
                saveCust: function (index) {
                    this.customers[index].beginEditing = false

                    // Update Customer Information in DB
                    console.log(`Customer _id is: ${this.customers[index]._id}`)
                    $.ajax({
                        type: 'POST',
                        url: 'http://localhost:8000/api/customers',
                        data: this.customers[index],
                        success: (responseData, textStatus, jqXHR) => {
                            console.log(`POST SUCCESS RESPONSE DATA : ${responseData}`)
                            if (this.customers[index].isNew == true) {
                                this.customers[index].isNew = false
                            }
                            // this.downloadCustomers();
                        },
                        error: (error) => {
                            console.log(error)
                        }
                    })

                },
                deleteCustomer: function (index) {
                    let cust = this.customers[index]
                    // If this customer has an ID then it has been registered in the database
                    if (cust._id) {
                        console.log(`sending request to db`)
                        console.log(cust._id)
                        $.ajax({
                            type: 'DELETE',
                            url: 'http://localhost:8000/api/customers',
                            data: {_id: cust._id},
                            success: (data,textStatus,jqXHR)=>{
                                console.log(`Client has successfully performed AJAX DELETE request... \n ${textStatus}, ${data}`)
                            },
                            error: (error) => {
                                console.log(`Error Deleting the customer on the client side...... \n ${error}`)
                            }
                        })
                    } else {
                        // This Customer Has Not Been Posted To The DB Yet
                        console.log(`locally removing from table`)
                        this.removeFromTable(index)
                    }
                }
            }
        })
    </script>

</body>

</html>